/* color variables */
:root {
    --main-font-color: white;
    --main-bg-color: rgb(51, 47, 36);
    --main-navbar-color: rgba(35, 35, 26, 0.8);
    --main-navbar-color-hover: rgb(51, 47, 36, 0.8);
    --main-footer-color: rgb(35, 35, 26);
    --main-border-color: rgb(84, 152, 11);
    --main-card-color: rgba(84, 152, 11, 0.3);
}

/* html tags */
html {
    background-color: var(--main-bag-color);
}

body {
    margin: 0;
    background-color: var(--main-bg-color);
}

/* ids */
#body {
    padding-bottom: 25px;
}

#header {
    margin: 0;
    background-color: var(--main-card-color);
    color: var(--main-font-color);
    vertical-align: center;
    text-transform: uppercase;    
}

#header .fa{
    color: var(--main-font-color);
    font-size: 24px;
}

#header .v-middle{
    padding-top: 14px;
    font-weight: bold;
}

#header .navbar-text:hover {
    background-color: var(--main-navbar-color-hover);
}

#footer {
    margin: 0;
    color: var(--main-font-color);
    padding: 20px 0px 0px 0px;
    background-color: var(--main-footer-color);
}

#footer .fa {
    font-size: 48px;
    color: var(--main-font-color);
}

#author a {
    color: var(--main-border-color);
}

#author a:hover {
    color: var(--main-font-color);
}

#howWeDo .fa, #metrics .fa {
    font-size: 48px;
    margin-right: 5px;
    padding-top: 10px;
}

#howWeDo .fa span, #metrics .fa span{
    font-size: 36px;
    margin-left: 20px;
}

#howWeDo h6, #metrics h6 {
    margin-top: 5px;
}

/* classes */
.card {
    color: var(--main-font-color);
    padding: 0 15px;
    background-color: var(--main-bg-color);
    border: 0;
    font-size: 20px;
    margin: 50px 0px 50px 0px;
}

.whiteTxt {
    color: var(--main-font-color);
}

.profilePicture {
    align-self: center;
    margin: 10px 0px 10px 0px;
    border: 10px solid var(--main-card-color);
}

.divisory {
    color: var(--main-font-color);
    margin-top: 25px;
}

.btn-primary {
    background-color: var(--main-border-color);
    border-color: var(--main-border-color);
}